/.vscode
/build
/.idea
/cmake-build-debug
/uni_kassel
/extern/json/
/extern/CLI11/
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
tests/workflow/test/
data/WSF
prod/terrabyte/charliecloud
